{% extends 'base.html' %}

{% block title %}
    Verify OTP
{% endblock title %}

{% block style %}
<style>
    .stroke {
        display: flex;
        border: 1px solid;
        border-radius: 5px;
        padding: 10px;
    }

    .stroke:hover {
        background-color: #fff;
        color: #000;
    }

    @media screen and (min-width: 600px)
    {
        .s-header__logo {
            top: 1rem;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        {% if not current_user.is_anonymous %}
        <li><a href="{{url_for('main.starred')}}">Starred</a></li>
        <li><a href="{{url_for('main.chat')}}">Chat</a></li>
        <li><a href="{{url_for('main.developers')}}">Developers</a></li>
        {%endif%}
    </ul>
</nav>

<ul class="s-header__social">
    {% if current_user.is_anonymous %}
    <li><a href="{{url_for('auth.login_email')}}">Sign in</a></li>
    <li><a href="{{url_for('auth.register_email')}}" class="stroke">Sign up</a></li>
    {% endif %}
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section" style="margin: 0 auto;">
    <h4>Verify OTP</h4>
    <p></p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.otp(size=32, placeholder="Enter otp") }}
            {% for error in form.otp.errors %}
            <span style="color: #bf4042;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</section>
{% endblock content %}