{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
    <style>
        input {
            margin-bottom: 20px;
        }

        form div {
            margin-bottom: 20px;
        }

        @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }

    .login-btn {
        justify-content: center;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        padding: 10px;
        border-radius: 20px;
        background: #101112;
        box-shadow:  -5px 5px 15px #060707,
            5px -5px 15px #1a1b1d;
    }

    .btn-text {
        justify-content: center;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        color: rgb(85, 85, 85);
    }

    .login-btn img {
        margin: 0;
    }

    #or::after {
        content: " ";
        position: absolute;
        border: 1px solid #222;
        top: 15px;
        width: 150px;
        left: 200px;
    }

    #or::before {
        content: " ";
        position: absolute;
        border: 1px solid #222;
        top: 15px;
        width: 150px;
        right: 200px;
    }
    </style>
{% endblock style %}

{% block content %}
<div class="content" style="max-width: 400px; margin: 100px auto;border: 1px solid #24a89b;border-radius: 31px;padding: 0 30px;">
    <h4 class="u-add-bottom" style="text-align: center; margin-bottom:50px;">Sign in to CodeHub</h4>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div>
            <!-- {{ form.username.label }} -->
            {{ form.username(size=32, class='u-fullwidth', placeholder='Username') }}
            {% for error in form.username.errors %}
                <span style="color: #bf4042;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <!-- {{ form.password.label }} -->
            {{ form.password(size=32, class='u-fullwidth', placeholder='Password') }}
            {% for error in form.password.errors %}
            <span style="color: #bf4042;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <label class="u-add-bottom">
            {{ form.remember_me() }}
            <span class="label-text">{{ form.remember_me.label }}</span>
        </label>

        <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
    </form>
    <p id="or" style="margin:0; position:relative; text-align:center">OR</p>
    <div align="center" style="margin: 20px 0;">
        <a href="{{url_for('auth.login')}}" class="login-btn" style="text-decoration:none;">
            <img id="google"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png"
                alt="Google" style="width:50px;height:50px;">
            <div class="btn-text">
                Login with Google
            </div>
        </a>
    </div>
    <p style="text-align:center;">
        Forgot Your Password?
        <a href="{{ url_for('auth.reset_password_request') }}">Click to Reset It</a>
    </p>
    <p style="text-align:center;">New User? <a href="{{ url_for('auth.register_email') }}">Click to Register!</a></p>
</div>
{% endblock %}