{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
<style>
    input {
        margin-bottom: 20px;
    }

    form div {
        margin-bottom: 20px;
    }

    @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }

    .login-btn {
        justify-content: center;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        padding: 10px;
        border-radius: 20px;
        background: #101112;
        box-shadow:  -5px 5px 15px #060707,
            5px -5px 15px #1a1b1d;
    }

    .btn-text {
        justify-content: center;
        padding: 10px;
        font-family: 'Poppins', sans-serif;
        color: rgb(85, 85, 85);
    }

    .login-btn img {
        margin: 0;
    }

    #or::after {
        content: " ";
        position: absolute;
        border: 1px solid;
        top: 15px;
        width: 200px;
        left: 200px;
    }

    #or::before {
        content: " ";
        position: absolute;
        border: 1px solid;
        top: 15px;
        width: 200px;
        right: 200px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="content" style="max-width: 450px; margin: 100px auto; padding: 0 50px">

<h2 class="u-add-bottom" style="text-align: center; margin-bottom:50px;">Register</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        <!-- {{ form.username.label }} -->
        {{ form.name(size=32, class='u-fullwidth', placeholder='Name') }}
        {% for error in form.name.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.username.label }} -->
        {{ form.username(size=32, class='u-fullwidth', placeholder='Username') }}
        {% for error in form.username.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.email.label }} -->
        {{ form.email(size=64, class='u-fullwidth', placeholder='Email') }}
        {% for error in form.email.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.password.label }} -->
        {{ form.password(size=32, class='u-fullwidth', placeholder='Password') }}
        {% for error in form.password.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.password2.label }} -->
        {{ form.password2(size=32, class='u-fullwidth', placeholder='Repeat Password') }}
        {% for error in form.password2.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
</form>
<p id="or" style="margin:0; position:relative; text-align:center">OR</p>
<div align="center" style="margin: 20px 0;">
    <a href="{{url_for('auth.register')}}" class="login-btn" style="text-decoration:none;">
        <img id="google"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png"
            alt="Google" style="width:50px;height:50px;">
        <div class="btn-text">
            Register with Google
        </div>
    </a>
</div>
<p style="text-align: center;">Already a member? <a href="{{ url_for('auth.login_email') }}">Click to Login!</a></p>
</div>
{% endblock %}