{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
<style>
    input {
        margin-bottom: 20px;
    }

    form div {
        margin-bottom: 20px;
    }

    @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }
</style>
{% endblock style %}

{% block content %}
<div class="content" style="max-width: 450px; margin: 100px auto; padding: 0 50px">

<h2 class="u-add-bottom" style="text-align: center; margin-bottom:50px;">Register</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div>
        <!-- {{ form.username.label }} -->
        {{ form.username(size=32, class='u-fullwidth', placeholder='Username') }}
        {% for error in form.username.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.email.label }} -->
        {{ form.email(size=64, class='u-fullwidth', placeholder='Email') }}
        {% for error in form.email.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.password.label }} -->
        {{ form.password(size=32, class='u-fullwidth', placeholder='Password') }}
        {% for error in form.password.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div>
        <!-- {{ form.password2.label }} -->
        {{ form.password2(size=32, class='u-fullwidth', placeholder='Repeat Password') }}
        {% for error in form.password2.errors %}
        <span style="color: #727373;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
</form>
<p>Already a member? <a href="{{ url_for('auth.login') }}">Click to Login!</a></p>
</div>
{% endblock %}