{% extends 'base.html' %}

{% block title %} Codehub {% endblock title %}

{% block style %}
    <style>
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        input::file-selector-button {
            color: #24a89b;
            font-weight: bold;
            padding: 0.5em;
            background-color: #2c2c2d;
            border: 0;
            border-radius: 3px;
            margin-right: 10px;
        }
    
        table {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }
    
        table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
        }
    
        table tr {
            background-color: #0000;
            padding: .35em;
        }
    
        table th,
        table td {
            padding: .625em;
            text-align: center;
        }
    
        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @media screen and (min-width:600px) {
            input[type='submit'], input[type='file'] {
                margin-bottom: 0;
            }
        }
    
        @media screen and (max-width: 600px) {
            form {
                flex-wrap: wrap;
            }


            table {
                border: 0;
            }
    
            table caption {
                font-size: 1.3em;
            }
    
            table thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
    
            table tr {
                display: block;
                margin-bottom: .625em;
            }
    
            table td {
                display: block;
                font-size: .8em;
                text-align: right;
                padding-left: 0;
                padding-right: 0;
            }
    
            table td::before {
                /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
    
            table td:last-child {
                border-bottom: 0;
            }
        }
    
        /* general styling */
        body {
            font-family: "Open Sans", sans-serif;
            line-height: 1.25;
        }
    </style>
{% endblock style %}

{% block nav %}
    <nav class="s-header__nav">
        <ul>
            <li class="current"><a href="#intro" class="smoothscroll">Create</a></li>
            <li><a href="#works" class="smoothscroll">All Projects</a></li>
        </ul>
    </nav>
    
    <a class="s-header__social" href="{{url_for('profile', username=userr.username)}}">{{user}}</a>
{% endblock nav %}

{% block content %}
    <section id="intro" class="s-intro target-section" style="padding: 150px 50px 100px;">
        {% for message in get_flashed_messages() %}
        {% if message == 'Successfully Logged In' %}
            
        
        <div class="alert-box alert-box--success">
            <p style="margin-bottom: 0;">{{ message }}</p>
            <span class="alert-box__close"></span>
        </div>
        {% endif %}
        {% endfor %}

        <div class="" style="max-width: 500px; margin:auto;">
            <h4 class="text-display-title" style="text-align: center; padding-bottom :50px">Add Program: </h4>
            <form action="/dashboard/{{user}}" method="POST" enctype="multipart/form-data" style="text-align: center;">
                <input type="file" name="file" id="inputfile" required style="width: 300px; width:100%;" accept=".py" />
                <input type="submit"/>
            </form>
            {% for message in get_flashed_messages() %}
            {% if message == 'Programme Added' %}
            <div class="alert-box alert-box--success">
                <p style="margin-bottom: 0;">{{ message }}</p>
                <span class="alert-box__close"></span>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    
        <hr>
        <h5>Code &#128071;: </h5>
        <pre id="output">File not selected!!</pre>
    
    
    </section>
    
    
    <!-- ## works
            ================================================== -->
    <section id="works" class="s-works target-section" style="padding: 100px 50px 150px;">
    
        <div class="row section-header section-header--dark has-bottom-sep">
            <div class="column lg-12">
                <!-- <h3 class="text-pretitle">Recent Projects</h3> -->
                <h1 class="text-display-title">Your Programs</h1>
            </div>
        </div> <!-- end section-header -->
        {% if no >= 1 %}
        <table>
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Developer</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    {% if file.user.username.capitalize() == user %}
                    <td data-label="Project"><a href="/dashboard/{{userr}}/{{file.filename}}">{{file.filename}}</a>
                    </td>
                    <td data-label="Developer">{{file.user.username.capitalize()}}</td>
                    {%endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="text-align: center;">No Program</p>
        {% endif %}
        {% for message in get_flashed_messages() %}
        {% if message == 'Programme removed' %}
        
        
        <div class="alert-box alert-box--success" style="margin-top:50px;">
            <p style="margin-bottom: 0;">{{ message }}</p>
            <span class="alert-box__close"></span>
        </div>
        {% endif %}
        {% endfor %}
    </section>
{% endblock content %}

{% block script %}
    <script>
        document.getElementById('inputfile').addEventListener('change', function () {
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('output')
                    .textContent = fr.result;
            }

            fr.readAsText(this.files[0]);
        })
    </script>
{% endblock script %}