{% extends 'base.html' %}

{% block title %}
    Chat (Beta)
{% endblock title %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li><a href="{{url_for('main.starred')}}">Starred</a></li>
        <li class="current"><a href="{{url_for('main.chat')}}">Chat</a></li>
        <li><a href="{{url_for('main.developers')}}">developers</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <a style="display: flex; align-items:center; gap:10px;font-size:14px;letter-spacing:0.05em;font-weight:600;">
            <a href="{{url_for('main.new')}}"><i class="fa-solid fa-plus" style="cursor: pointer;"></i></a>
            <i class="fa-solid fa-caret-down dropbtn"></i>
            <img style="margin-bottom: 0; border-radius:50%;height:auto;width:20px;" src="{{ current_user.avatar() }}" alt="">
            <i onclick="myFunction()" class="fa-solid fa-caret-down dropbtn"></i>
        </a>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{url_for('main.user', username=current_user.username)}}">Your profile</a>
            <a href="{{url_for('main.starred')}}">Your stars</a>
            <a href="{{url_for('main.projects')}}">Your projects</a>
            <a href="{{url_for('auth.logout')}}" onclick="return confirm('Are you sure you want to sign out?')"
                style="border-top: 1px solid;">Sign out</a>
        </div>
    </li>
</ul>
{% endblock nav %}

{% block style %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        #messages p {
            margin-bottom: 0;
        }
    </style>
{% endblock style %}

{% block content %}
    <section id="intro" class="s-intro target-section" style="margin: 0 auto;width:350px;">
        <div id="messages" style="margin: 0 auto;text-align:left;min-height:300px;border:1px solid;border-radius:20px;padding:20px;
        {% if current_user.username in msg %} text-align:right; {% endif %}"></div>
        <input type="text" placeholder="Message" id="message">
        <button id="sendBtn">Send</button>
    </section>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('connect', function () {
                socket.send("User connected!");
            });

            socket.on('message', function (data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').on('click', function () {
                socket.send('{{current_user.username}}' + ': ' + $('#message').val());
                $('#message').val('');
            })
        })
    </script>
{% endblock script %}