{% extends 'base.html' %}

{% block title %} Dashboard - Codehub {% endblock title %}

{% block style %}
<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    input::file-selector-button {
        color: #24a89b;
        font-weight: bold;
        padding: 0.5em;
        background-color: #2c2c2d;
        border: 0;
        border-radius: 3px;
        margin-right: 10px;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #0000;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (min-width:600px) {

        input[type='submit'],
        input[type='file'] {
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 600px) {
        form {
            flex-wrap: wrap;
        }


        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: .625em;
        }

        table td {
            display: block;
            font-size: .8em;
            text-align: right;
            padding-left: 0;
            padding-right: 0;
        }

        table td::before {
            /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    /* general styling */
    body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
    }

    .head {
        position: absolute;
        background: #8a8a8b1a;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: -79px;
        /* width: 90%; */
        left: 0px;
        padding: 10px 0;
        right: 0px;
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li class="current"><a href="{{url_for('dashboard', username=current_user.username)}}">Dashboard</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <a href="{{url_for('user', username=current_user.username)}}"
            style="align-items:center;">{{current_user.username}}</a>
    </li>
    <li>|</li>
    <li><a href="{{url_for('logout')}}" onclick="return confirm('Are you sure you want to logout?')">logout</a></li>
</ul>

{% endblock nav %}

{% block content %}

<!-- ## works
            ================================================== -->
<section id="works" class="s-works target-section" style="padding: 100px 50px; margin: 150px auto; position:relative; width:100%;">
    <div class="head">
        <h4 style="font-size: medium; margin: 0; padding: 0;">PROGRAMS</h4>
        <a href="{{url_for('new')}}" class="btn btn--stroke" style="margin: 0; display:flex; padding:0 20px; height:40px; align-items:center;">New</a>
    </div>
    {% if no >= 1 %}
    <table style="font-size: large;">
        <thead>
            <tr>
                <th>Project</th>
                <th>Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files|reverse %}
            <tr>
                {% if file.user.username == current_user.username %}
                <td data-label="Project"><a href="{{ url_for('detail', filename=file.filename) }}">{{file.filename}}</a>
                </td>
                <td data-label="Developer">{{file.user.username.capitalize()}}</td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center;">No Program</p>
    {% endif %}
</section>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('inputfile').addEventListener('change', function () {
        var fr = new FileReader();
        fr.onload = function () {
            document.getElementById('output')
                .textContent = fr.result;
        }

        fr.readAsText(this.files[0]);
    })
</script>
{% endblock script %}