{% extends 'base.html' %}

{% block title %}{{ file.user.username.capitalize() }} - {{ file.filename }}{% endblock title %}

{% block style %}
<style>
    .s-header__logo {
        top: 1rem;
    }

    #intro {
        padding: 50px;
        max-width: 1200px;
        margin: auto;
    }

    @media screen and (max-width:600px) {
        #intro {
            margin: 0;
        }

        .s-header__logo {
            top: 2rem;
        }
    }

    @media screen and (max-width: 900px) {
        .content {
            max-width: 500px;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<a class="s-header__social" href="{{url_for('profile', username=file.user.username)}}" style="align-items:center;"><svg
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" style="margin-right: 10px;">
        <path
            d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
    </svg>{{file.user.username|capitalize}}</a>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section">

    <div class="content">
        <div class="child">
            <h1 style="text-align:center; margin-bottom: 50px;">{{ file.filename.capitalize() }}</h1>
            <pre>
                <code>{{f}}</code>
            </pre>
            <a href="{{ url_for('delete_file', filename=file.filename) }}">Delete</a>
        </div>
    </div>

    <hr>

    <div class="code">
        <h3 style="margin-bottom: 20px;">Run &#128071; : </h3>
        <iframe frameborder="0" width="100%" height="600px" src="https://create.withcode.uk/"><a target="_blank"
                href="https://create.withcode.uk/">create.withcode.uk</a></iframe>
    </div>
</section>
{% endblock content %}