{% extends 'base.html' %}

{% block title %}{{ file.user.username.capitalize() }} - {{ file.filename }}{% endblock title %}

{% block style %}
<style>
    .s-header__logo {
        top: 1rem;
    }

    #intro {
        padding: 50px;
        max-width: 1200px;
        margin: auto;
    }

    @media screen and (max-width:600px) {
        #intro {
            margin: 0;
        }

        .s-header__logo {
            top: 2rem;
        }
    }

    @media screen and (max-width: 900px) {
        .content {
            max-width: 500px;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li class="current"><a href="{{url_for('dashboard', username=current_user.username)}}">Dashboard</a></li>
        <li><a href="{{ url_for('explore') }}">Explore</a></li>
    </ul>
</nav>
<ul class="s-header__social">
    <li><a href="{{url_for('user', username=file.user.username)}}" style="align-items:center;">{{current_user.username}}</a></li>
    <li>|</li>
    <li><a href="{{url_for('logout')}}" onclick="return confirm('Are you sure you want to logout?')">logout</a></li>
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section">

    <div class="content">
        <div class="child">
            <h2 style="text-align:center; margin-bottom: 50px;">{{ file.filename.capitalize() }}</h2>
            <pre style="border-radius: 20px;">
                <code class="language-python">{{f}}</code>
            </pre>
            {% if current_user.username == username %}
            <a href="{{ url_for('delete_file', filename=file.filename) }}" onclick="return confirm('Are you sure you want to delete this file?')">Delete</a>
            {% else %}
            <cite> - By {{ username }}</cite>
            {% endif %}
        </div>
        <hr>
        <h3>{{ file.comments|length }} Comments</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p id="hide">
                {{ form.username.label }}<br>
                {{ form.username(size=50, readonly=true, style="width:100%;") }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.comment(placeholder="Add a comment ...", style='width:100%; min-height:0;') }}<br>
                {% for error in form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
        </form>
        {% for comment in file.comments|reverse %}
        <div class="comment">
            <strong style="color: #fff; margin-right: 0.5em;">{{ comment.author }}</strong><small>{{ moment(comment.timestamp).fromNow() }}</small>
            <p>{{ comment.content }}</p>
            {% if current_user.username == username %}
                <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                    <input type="submit" value="Delete Comment" onclick="return confirm('Are you sure you want to delete this comment?')">
                </form>
            {% endif %}
            <hr>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('hide').style.display = 'none';
</script>
{% endblock script %}