{% extends 'base.html' %}

{% block title %}{{ file.user.username.capitalize() }} - {{ file.filename }}{% endblock title %}

{% block style %}
<style>
    .s-header__logo {
        top: 1rem;
    }

    #intro {
        padding: 50px;
        max-width: 1200px;
        margin: auto;
    }

    @media screen and (max-width:600px) {
        #intro {
            margin: 0;
        }

        .s-header__logo {
            top: 2rem;
        }
    }

    @media screen and (max-width: 900px) {
        .content {
            max-width: 500px;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li class="current"><a href="{{url_for('dashboard', username=current_user.username)}}">Dashboard</a></li>
        <li><a href="{{url_for('group_video_chat', username=current_user.username)}}">Group Video Chat</a></li>
    </ul>
</nav>
<ul class="s-header__social">
    <li><a href="{{url_for('profile', username=file.user.username)}}" style="align-items:center;">{{file.user.username}}</a></li>
    <li>|</li>
    <li><a href="{{url_for('logout')}}">logout</a></li>
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section">

    <div class="content">
        <div class="child">
            <h1 style="text-align:center; margin-bottom: 50px;">{{ file.filename.capitalize() }}</h1>
            <pre>
                <code class="language-python">{{f}}</code>
            </pre>
            <a href="{{ url_for('delete_file', filename=file.filename) }}">Delete</a>
        </div>
    </div>
</section>
{% endblock content %}