{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block style %}
    <style>
        label {
            margin-bottom: 0;
        }

        @media screen and (min-width: 600px) {
            
            .s-header__logo{
                top: 1rem;
            }
        }

        @media screen and (max-width:540px) {
            .content{
                max-width: 420px;
            }
        }
    </style>
{% endblock style %}

{% block content %}
<div class="content" style="margin: 100px auto; padding: 0 50px;">
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
    </form>
</div>
{% endblock %}