{% extends 'base.html' %}

{% block title %}
    {{title}} - Codehub
{% endblock title %}

{% block style %}
<style>
    @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li><a href="{{url_for('dashboard', username=current_user.username)}}">Dashboard</a></li>
        <li class="current"><a href="{{ url_for('explore') }}">Explore</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <a href="{{url_for('user', username=current_user.username)}}"
            style="align-items:center;">{{current_user.username}}</a>
    </li>
    <li>|</li>
    <li><a href="{{url_for('logout')}}" onclick="return confirm('Are you sure you want to logout?')">logout</a></li>
</ul>

{% endblock nav %}

{% block content %}
<div class="explore" style="max-width: 1000px; margin: 150px auto;">
    {% for file in files %}
        {% include '_upload.html' %}
    {% endfor %}
</div>
{% endblock content %}