<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Codehub Stream</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{{url_for('static', filename='css/group.css')}}">
</head>

<body>

    <button id="join-btn">Join Stream</button>

    <div id="stream-wrapper">
        <div id="video-streams"></div>

        <div id="stream-controls">
            <button id="leave-btn">Leave Stream</button>
            <button id="mic-btn">Mic On</button>
            <button id="camera-btn">Camera on</button>
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='js/AgoraRTC_N-4.7.3.js')}}"></script>
<script src="{{url_for('static', filename='js/group.js')}}"></script>

</html>