{% extends 'base.html' %}

{% block title %} Codehub {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/teams.css')}}">
<style>
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #0000;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    cite {
        font-weight: 400;
        font-family: var(--font-1);
        border: none;
        display: inline-block;
        color: var(--color-text-light);
        font-size: var(--text-sm);
        line-height: var(--vspace-0_75);
        font-style: normal;
    }

    .members {
        list-style-type: circle;
    }

    @media screen and (min-width: 600px) {
        .s-header__logo {
            top: 1rem;
        }
    }

    @media screen and (max-width: 600px) {

        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: .625em;
        }

        table td {
            display: block;
            font-size: .8em;
            text-align: right;
            padding-left: 0;
            padding-right: 0;
        }

        table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }

    /* Import */
    @font-face {
        font-family: 'Chivo';
        font-style: italic;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9D4kzIxd1KFrBteUp9gK_uQQ.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: italic;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9G4kzIxd1KFrBtceFfkA.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: italic;
        font-weight: 700;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9D4kzIxd1KFrBteVp6gK_uQQ.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: italic;
        font-weight: 900;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9D4kzIxd1KFrBteWJ4gK_uQQ.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9F4kzIxd1KFrjDY_Z4sKg.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9I4kzIxd1KFrBoQeY.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 700;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9F4kzIxd1KFrjTZPZ4sKg.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Chivo';
        font-style: normal;
        font-weight: 900;
        src: url(https://fonts.gstatic.com/s/chivo/v17/va9F4kzIxd1KFrjrZvZ4sKg.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 100;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rDks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 200;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rCks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA7wTCks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 400;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 500;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA72jCks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 600;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA74TFks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 700;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA773Fks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira';
        font-style: normal;
        font-weight: 800;
        font-stretch: normal;
        src: url(https://fonts.gstatic.com/s/saira/v14/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA79rFks8xkw.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 100;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j2_Co.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 200;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh2wpk.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh2wpk.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 400;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ejx.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 500;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh2wpk.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 600;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wpk.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 700;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h2wpk.ttf) format('truetype');
    }

    @font-face {
        font-family: 'Saira Extra Condensed';
        font-style: normal;
        font-weight: 800;
        src: url(https://fonts.gstatic.com/s/sairaextracondensed/v11/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h2wpk.ttf) format('truetype');
    }

    /* Variables */
    /* Base */

    #timeline-content p {
        font-weight: 300;
    }

    #timeline-content a {
        color: #6c6d6d;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        letter-spacing: 0.3em;
        font-size: 0.6em;
        font-weight: 400;
        background: #252727;
        padding: 0.3rem 1rem;
        margin: 1.9rem 0 0 0;
        float: right;
    }

    #timeline-content a:hover {
        color: white;
        background: #004ffc;
        border-bottom: 0.35em solid black;
    }

    #timeline-content strong {
        font-weight: 600;
    }

    #timeline-content h1 {
        font-family: 'Saira', sans-serif;
        letter-spacing: 1.5px;
        color: white;
        font-weight: 400;
        font-size: 2.4em;
    }

    #timeline-content {
        margin-top: 50px;
        text-align: center;
    }

    /* Timeline */
    .timeline {
        border-left: 4px solid #1f9388;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Chivo', sans-serif;
        margin: 50px auto;
        letter-spacing: 0.5px;
        position: relative;
        line-height: 1.4em;
        font-size: 1.03em;
        padding: 50px;
        list-style: none;
        text-align: left;
        font-weight: 100;
        max-width: 50%;
    }

    .timeline h1 {
        font-family: 'Saira', sans-serif;
        letter-spacing: 1.5px;
        font-weight: 100;
        font-size: 1.4em;
    }

    .timeline h2,
    .timeline h3 {
        font-family: 'Saira', sans-serif;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 1.4em;
    }

    .timeline .event {
        border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
        padding-bottom: 25px;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline .event:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }

    .timeline .event:before,
    .timeline .event:after {
        position: absolute;
        display: block;
        top: 0;
    }

    .timeline .event:before {
        left: -250.5px;
        color: rgba(255, 255, 255, 0.5);
        content: attr(data-date);
        text-align: right;
        font-weight: 100;
        font-size: 0.9em;
        min-width: 120px;
        font-family: 'Saira', sans-serif;
    }

    .timeline .event:after {
        box-shadow: 0 0 0 4px #1f9388;
        left: -57.85px;
        background: #313534;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        content: "";
        top: 5px;
    }


    @media screen and (min-width:900px) {
        .timeline-container {
            margin-left: 100px;
        }
    }

    @media screen and (max-width:900px) {
        .timeline {
            padding: 10px;
            border: 0;
            max-width: unset;
        }

        .timeline .event:before {
            left: 0;
            top: -35px;
        }

        .timeline .event:after {
            content: unset;
        }

        .timeline-container {
            margin-left: unset;
            padding: 20px;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        {% if not current_user.is_anonymous %}
        <li><a href="{{url_for('dashboard', username=current_user.username)}}">Dashboard</a></li>
        {%else%}
        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
        <li><a href="#services" class="smoothscroll">What We Do</a></li>
        <li><a href="#works" class="smoothscroll">Our Works</a></li>
        <li><a href="#teamss" class="smoothscroll">Our Teams</a></li>
        <li><a href="#contact" class="smoothscroll">Get In Touch</a></li>
        {%endif%}
    </ul>
</nav>

<ul class="s-header__social">
    {% if current_user.is_anonymous %}
    <li><a href="{{url_for('login')}}">login</a></li>
    {% else %}
    <li><a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username }}</a></li>
    <li>|</li>
    <li><a href="{{url_for('logout')}}">logout</a></li>
    {% endif %}
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section">
    {% for message in get_flashed_messages() %}
    {% if message == 'User deleted!' %}
    <div class="alert-box alert-box--success" style="margin-top: 50px;">
        <p style="margin-bottom: 0;">{{ message }}</p>
        <span class="alert-box__close"></span>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="column">
            <div class="s-intro__top-block">
                <span class="s-intro__bg"></span>

                <h1 class="s-intro__text" style="padding-bottom: 25%;">
                    We're a creative group <br>
                    of people who programs <br>
                    websites, apps and <br>
                    much more<span>.</span>
                </h1>

                <a href="#services" class="s-intro__scroll-down smoothscroll">
                    <span>Scroll Down</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill:rgba(0, 0, 0, 1);transform:rotate(180deg); filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)">
                        <path
                            d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="row row-x-center s-intro__about-wrap">
        <div class="column s-intro__about">
            <h2 class="s-intro__about-title">Hello, Welcome to CodeHub.</h2>

            <p>
                This is final year project .i.e Codehub by CS students of ST Lamart School. This is a type of code
                saving website, something like Github which is also a type of code saving website. Now this project do
                only CRUD
                operations of file from database and we will try to add more operations in future updates.
            </p>

        </div>
    </div>

    <div class="row about-stats stats block-lg-one-fourth block-md-one-half block-mob-whole" data-animate-block>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter=24><span>24</span>+</div>
            <h5>Hours Work</h5>
            <p>
                Eleifend donec pretium vulputate sapien nec sagittis
                aliquam malesuada. Eu scelerisque felis imperdiet proin
                fermentum leo. Cursus turpis massa tincidunt.
            </p>
        </div>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter=95><span>95</span>+</div>
            <h5>Performance</h5>
            <p>
                Volutpat commodo sed egestas egestas fringilla phasellus faucibus scelerisque. Est velit egestas dui id
                ornare. Leo urna
                molestie at elementum.
            </p>
        </div>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter={{members|length}}><span>{{members|length}}</span>+</div>
            <h5>Memmbers Joinded</h5>
            <p>
            <ul class="members">
                {% for member in members[0:4] %}
                <li><a href="{{url_for('user', username=member.username)}}">{{ member.username }}</a> <cite>... recently joined</cite></li>
                {% endfor %}
            </ul>
            {% if members|length >=5 %}
            <span>.... {{ members|length - 4 }} + other members</span>
            {% endif %}
            </p>
        </div>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter={{no}}><span>38</span>+</div>
            <h5>Saved Projects</h5>
            <p>
                Nulla pharetra diam sit amet nisl suscipit adipiscing
                bibendum est. Quis risus sed vulputate odio ut.
                Lectus arcu bibendum at varius vel eu facilisis.
            </p>
        </div>
    </div>
    <div id="timeline-content">
        <h1>Updates Timeline</h1>
        <div class="timeline-container" >
            <ul class="timeline">
                {% for i in timeline[0:3] %}
                <li class="event" data-date="{{ i.date }}">
                    <h5>{{ i.heading }}</h5>
                    <p>{{ i.paragraph }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section id="services" class="s-services target-section">

    <div class="row section-header has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle">What We Do</h3>
            <h1 class="text-display-title">
                We make coding programs and manage them
            </h1>
        </div>
    </div>

    <div class="row services-list block-lg-one-half block-tab-whole" data-animate-block>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--product-design"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">In python, java, c++, etc</h3>
                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                    Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                    Sunt suscipit voluptas ipsa in tempora esse soluta sint aliquam rhoncus elit.
                </p>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--branding"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Fast development</h3>
                <p>Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Quis risus sed vulputate
                    odio ut. Lectus arcu bibendum at varius vel. Lorem ipsum dolor sit amet consectetur adipiscing
                    elit pellentesque. In nulla posuere sollicitudin aliquam ultrices.
                </p>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--frontend"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Accessible from anywhere</h3>
                <p>Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Eu scelerisque felis
                    imperdiet proin fermentum leo. Cursus turpis massa tincidunt dui. Quis commodo odio aenean sed
                    adipiscing diam donec adipiscing. Congue mauris rhoncus elit.
                </p>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--research"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Human Readable Code</h3>
                <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                    Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                    Sunt suscipit voluptas ipsa in tempora esse soluta sint donec adipiscing.
                </p>
            </div>
        </div>

    </div>

</section>

<section id="works" class="s-works target-section">

    <div class="row section-header section-header--dark has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle">Recent Works</h3>
            <h1 class="text-display-title">Here are some of our programs we have done lately. Feel free
                to check them out.</h1>
        </div>
    </div>

    {% if files %}
    <table>
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td data-label="Project"><a href="#">{{file.filename}}</a></td>
                <td data-label="Developer">{{file.user.username.capitalize()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center;">Work in progress !</p>
    {% endif %}


</section>

<section class="teams-section s-teams target-section" id="teamss">

    <div class="row section-header section-header--dark has-bottom-sep">
        <div class="column lg-12">
            <h1 class="text-display-title">Meet our team</h1>
        </div>
    </div>
    <div class="teams">
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team1.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Kamal Koranga</h3>
                <div class="textIcon">
                    <h4 class="h4">CEO, Co Founder</h4>
                    <a href="{{url_for('user', username='kamal')}}">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team3.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Shivansh Chaursia</h3>
                <div class="textIcon">
                    <h4>Designer</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team1.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Harish Joshi</h3>
                <div class="textIcon">
                    <h4>Developer</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team3.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Saurabh Karki</h3>
                <div class="textIcon">
                    <h4>Designer</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ## contact
            ================================================== -->
<section id="contact" class="s-contact target-section">

    <div class="row section-header section-header--dark"">
                    <div class=" column lg-12">
        <h3 class="text-pretitle">Get In Touch</h3>
        <h1 class="text-display-title">Do you have an idea, question, help? Let’s connect.</h1>
    </div>
    </div>

    <div class="row row-x-center text-center s-contact__content">
        <div class="column lg-12">
            <div class="form">
                <form action="https://formspree.io/f/xaykqyqg" method="POST">
                    <div>
                        <label for="sampleInput">Your email</label>
                        <input class="u-fullwidth" type="email" placeholder="test@mailbox.com" id="sampleInput"
                            name="email">
                    </div>
                    <div>
                        <label for="sampleRecipientInput">Reason for contacting</label>
                        <div class="ss-custom-select">
                            <select class="u-fullwidth" id="sampleRecipientInput" name="reason">
                                <option value="Work Together">Work Together</option>
                                <option value="Help">Help</option>
                                <option value="Question">Question</option>
                            </select>
                        </div>
                    </div>

                    <label for="exampleMessage">Message</label>
                    <textarea class="u-fullwidth" placeholder="Your message" id="exampleMessage"
                        name="message"></textarea>

                    <!-- <input class="btn--primary u-fullwidth" type="submit" value="Submit"> -->
                    <button class="btn--primary u-fullwidth" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}