{% extends 'base.html' %}

{% block title %} Codehub {% endblock title %}

{% block style %}
<style>
    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background-color: #0000;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (min-width: 600px) {
        .s-header__logo {
            top: 1rem;
        }
    }

    @media screen and (max-width: 600px) {

        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: .625em;
        }

        table td {
            display: block;
            font-size: .8em;
            text-align: right;
            padding-left: 0;
            padding-right: 0;
        }

        table td::before {
            /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
        <li><a href="#services" class="smoothscroll">What We Do</a></li>
        <li><a href="#works" class="smoothscroll">Our Works</a></li>
        <li><a href="#teamss" class="smoothscroll">Our Members</a></li>
        <li><a href="#contact" class="smoothscroll">Get In Touch</a></li>
    </ul>
</nav>
<a class="s-header__social" href="{{url_for('login')}}" style="align-items:center;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512" style="margin-right: 10px;">
        <path
            d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z" />
    </svg>Account
</a>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section">
    <div class="row">
        <div class="column">
            <div class="s-intro__top-block">
                <span class="s-intro__bg"></span>

                <h1 class="s-intro__text" style="padding-bottom: 25%;">
                    We're a creative group <br>
                    of people who programs <br>
                    websites, apps and <br>
                    much more<span>.</span>
                </h1>

                <a href="#services" class="s-intro__scroll-down smoothscroll">
                    <span>Scroll Down</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        style="fill:rgba(0, 0, 0, 1);transform:rotate(180deg); filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2)">
                        <path
                            d="M21 11L6.414 11 11.707 5.707 10.293 4.293 2.586 12 10.293 19.707 11.707 18.293 6.414 13 21 13z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="row row-x-center s-intro__about-wrap">
        <div class="column s-intro__about">
            <h2 class="s-intro__about-title">Hello, Welcome to CodeHub.</h2>

            <p style="text-align: center;">
                <strong>[ This is Final year project by CS students of ST Lamart School ]</strong><br>
                This is a project management website.
            </p>

        </div>
    </div>

    <div class="row about-stats stats block-lg-one-half block-md-one-half block-mob-whole" data-animate-block>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter=13><span>35</span>+</div>
            <h5>Hours Work</h5>
            <p>
                Eleifend donec pretium vulputate sapien nec sagittis
                aliquam malesuada. Eu scelerisque felis imperdiet proin
                fermentum leo. Cursus turpis massa tincidunt.
            </p>
        </div>
        <div class="column stats__item" data-animate-el>
            <div class="stats__count" data-counter={{no-1}}><span>38</span>+</div>
            <h5>Completed Projects</h5>
            <p>
                Nulla pharetra diam sit amet nisl suscipit adipiscing
                bibendum est. Quis risus sed vulputate odio ut.
                Lectus arcu bibendum at varius vel eu facilisis.
            </p>
        </div>

    </div>
</section>

<section id="services" class="s-services target-section">

    <div class="row section-header has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle">What We Do</h3>
            <h1 class="text-display-title">
                We make coding programs and maintain them
            </h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row services-list block-lg-one-half block-tab-whole" data-animate-block>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--product-design"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">In python, java, html, css, etc</h3>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--branding"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Fast development</h3>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--frontend"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Accessible from anywhere</h3>
            </div>
        </div>

        <div class="column service-item" data-animate-el>
            <div class="service-icon-block">
                <span class="service-icon service-icon--research"></span>
            </div>
            <div class="service-text">
                <h3 class="h4">Human Readable Code</h3>
            </div>
        </div>

    </div> <!-- end services-list -->

</section>

<!-- ## works
            ================================================== -->
<section id="works" class="s-works target-section">

    <div class="row section-header section-header--dark has-bottom-sep">
        <div class="column lg-12">
            <h3 class="text-pretitle">Recent Works</h3>
            <h1 class="text-display-title">Here are some of our programs we have done lately. Feel free
                to check them out.</h1>
        </div>
    </div> <!-- end section-header -->

    <div style="width:1000px; margin:auto;">
    </div> <!-- folio-list -->
    {% if files %}
    <table>
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td data-label="Project"><a href="#">{{file.filename}}</a></td>
                <td data-label="Developer">{{file.user.username.capitalize()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="text-align: center;">Work in progress !</p>
    {% endif %}


</section>

<section class="teams-section s-teams target-section" id="teamss">

    <div class="row section-header section-header--dark has-bottom-sep">
        <div class="column lg-12">
            <h1 class="text-display-title">Meet our team</h1>
        </div>
    </div>
    <div class="teams">
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team1.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>James Ford</h3>
                <div class="textIcon">
                    <h4 class="h4">Director General</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team2.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Ann Brown</h3>
                <div class="textIcon">
                    <h4>Mannager</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team3.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Ben Jason</h3>
                <div class="textIcon">
                    <h4>Developer</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <div class="imgBox">
                    <img src="{{url_for('static', filename='images/team3.jpg')}}" alt="">
                </div>
            </div>
            <div class="content">
                <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <h3>Ben Jason</h3>
                <div class="textIcon">
                    <h4>Developer</h4>
                    <a href="#">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ## contact
            ================================================== -->
<section id="contact" class="s-contact target-section">

    <div class="row section-header section-header--dark"">
                    <div class=" column lg-12">
        <h3 class="text-pretitle">Get In Touch</h3>
        <h1 class="text-display-title">Do you have an idea or an epic project in mind? Let’s work together.</h1>
    </div>
    </div>

    <div class="row row-x-center text-center s-contact__content">
        <div class="column lg-12">
            <div class="form">
                <form action="https://formspree.io/f/xaykqyqg" method="POST">
                    <div>
                        <label for="sampleInput">Your email</label>
                        <input class="u-fullwidth" type="email" placeholder="test@mailbox.com" id="sampleInput"
                            name="email">
                    </div>
                    <div>
                        <label for="sampleRecipientInput">Reason for contacting</label>
                        <div class="ss-custom-select">
                            <select class="u-fullwidth" id="sampleRecipientInput" name="reason">
                                <option value="Work Together">Work Together</option>
                                <option value="Help">Help</option>
                                <option value="Question">Question</option>
                            </select>
                        </div>
                    </div>

                    <label for="exampleMessage">Message</label>
                    <textarea class="u-fullwidth" placeholder="Your message" id="exampleMessage"
                        name="message"></textarea>

                    <!-- <input class="btn--primary u-fullwidth" type="submit" value="Submit"> -->
                    <button class="btn--primary u-fullwidth" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}