{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block style %}
    <style>
        input {
            margin-bottom: 20px;
        }

        form div {
            margin-bottom: 20px;
        }

        @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }
    </style>
{% endblock style %}

{% block content %}
<div class="content" style="max-width: 400px; margin: 150px auto;">
    <h3 class="u-add-bottom" style="text-align: center; margin-bottom:50px;">Sign In</h3>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=32, class='u-fullwidth') }}
            {% for error in form.username.errors %}
                <span style="color: #727373;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(size=32, class='u-fullwidth') }}
            {% for error in form.password.errors %}
            <span style="color: #727373;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <label class="u-add-bottom">
            {{ form.remember_me() }}
            <span class="label-text">{{ form.remember_me.label }}</span>
        </label>

        <p>{{ form.submit(class='btn--primary u-fullwidth') }}</p>
    </form>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
{% endblock %}