{% extends 'base.html' %}

{% block title %}
New File | CodeHub
{% endblock title %}

{% block style %}
<style>
    .content {
        display: flex;
        max-width: 800px;
        margin: auto;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    input::file-selector-button {
        color: #24a89b;
        font-weight: bold;
        padding: 0.5em;
        background-color: #2c2c2d;
        border: 0;
        border-radius: 3px;
        margin-right: 10px;
    }

    @media screen and (max-width:600px) {
        .content {
            max-width: 340px;
        }
    }

    @media screen and (min-width:600px) {
        .s-header__logo {
            top: 1rem;
        }
    }

    @media screen and (max-width:460px) {
    form {
        max-width: 300px;
    }
}
</style>
{% endblock style %}

{% block nav %}


<nav class="s-header__nav">
    <ul>
        <li><a href="{{url_for('main.starred')}}">Starred</a></li>
        <li><a href="{{url_for('main.chat')}}">Chat</a></li>
        <li><a href="{{url_for('main.developers')}}">developers</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <a style="display: flex; align-items:center; gap:10px;font-size:14px;letter-spacing:0.05em;font-weight:600;">
            <img style="margin-bottom: 0; border-radius:50%;height:auto;width:20px;" src="{{ current_user.avatar() }}"
                alt=""><i onclick="myFunction()" class="fa-solid fa-caret-down dropbtn"></i>
        </a>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{url_for('main.user', username=current_user.username)}}">Your profile</a>
            <a href="{{url_for('main.starred')}}">Your stars</a>
            <a href="{{url_for('main.projects')}}">Your projects</a>
            <a href="{{url_for('auth.logout')}}" onclick="return confirm('Are you sure you want to sign out?')"
                style="border-top: 1px solid;">Sign out</a>
        </div>
    </li>
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section" style="padding: 100px 50px;">
    <div class="content" style="margin: auto; padding:0 20px;">
        <h2 style="margin-bottom: 50px; text-align:center;">Add new program</h2>

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div>
                {{ form.title.label }}
                {{ form.title(size=32, placeholder='title', class='u-fullwidth') }}
                {% for error in form.title.errors %}
                <span style="color: #727373;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.description.label }}
                {{ form.description(class='u-fullwidth', cols=50, rows=4, placeholder='description ...') }}
                {% for error in form.description.errors %}
                <span style="color: #727373;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.code.label }}
                {{ form.code(cols="50", rows="4", spellcheck=false, placeholder="Enter something to save", class="u-fullwidth", required=true) }}
                {% for error in form.code.errors %}
                <span style="color: #727373;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="file-options">
                <div class="option file-name">
                    {{ form.filename.label }}
                    {{ form.filename(class="u-fullwidth", spellcheck=false, placeholder="Enter file name") }}
                </div>
            </div>
            <p>{{ form.submit(class='btn btn--primary u-fullwidth') }}</p>
        </form>
    </div>
</section>
{% endblock content %}

{% block script %}
<script>
    document.getElementById('inputfile').addEventListener('change', function () {
        var fr = new FileReader();
        fr.onload = function () {
            document.getElementById('output')
                .textContent = fr.result;
        }
        fr.readAsText(this.files[0]);
    });

    const textarea = document.querySelector("textarea"),
            fileNameInput = document.querySelector(".file-name input"),
            selectMenu = document.querySelector(".save-as select"),
            saveBtn = document.querySelector(".save-btn");

        selectMenu.addEventListener("change", () => {
            const selectedFormat = selectMenu.options[selectMenu.selectedIndex].text;
            saveBtn.innerText = `Save As ${selectedFormat.split(" ")[0]} File`;
        });

        saveBtn.addEventListener("click", () => {
            const blob = new Blob([textarea.value], { type: selectMenu.value });
            const fileUrl = URL.createObjectURL(blob);
            const link = document.createElement('a');
            const selectedFormat = selectMenu.options[selectMenu.selectedIndex].text;
            const file_type = selectedFormat.split(" ")[0]
            if (file_type === 'Python') {
                link.download = fileNameInput.value + '.py';
            } else {
                link.download = fileNameInput.value;
            }
            link.href = fileUrl;
            link.click();
        });
</script>
{% endblock script %}