{% extends 'base.html' %}

{% block title %}
    Your Stars
{% endblock title %}

{% block nav %}
<nav class="s-header__nav">
    <ul>
        <li class="current"><a href="{{url_for('main.starred')}}">Starred</a></li>
        <li><a href="{{url_for('main.chat')}}">Chat</a></li>
        <li><a href="{{url_for('main.developers')}}">developers</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <span style="display: flex; align-items:center; gap:10px;font-size:14px;letter-spacing:0.05em;font-weight:600;">
            <a href="{{url_for('main.new')}}"><i class="fa-solid fa-plus" style="cursor: pointer;"></i></a>
            <i class="fa-solid fa-caret-down dropbtn"></i>
            <img style="margin-bottom: 0; border-radius:50%;height:auto;width:20px;" src="{{ current_user.avatar() }}" alt="">
            <i onclick="myFunction()" class="fa-solid fa-caret-down dropbtn"></i>
        </span>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{url_for('main.user', username=current_user.username)}}">Your profile</a>
            <a href="{{url_for('main.starred')}}">Your stars</a>
            <a href="{{url_for('main.projects')}}">Your projects</a>
            <a href="{{url_for('auth.logout')}}" onclick="return confirm('Are you sure you want to sign out?')"
                style="border-top: 1px solid;">Sign out</a>
        </div>
    </li>
</ul>
{% endblock nav %}

{% block content %}
<section id="intro" class="s-intro target-section" style="margin: 0 auto;word-break: break-all;max-width: 700px;">
    <h3 style="margin: 0 20px;">Starred Projects</h3>
    {% for i in current_user.likes %}
        <div>
            <div class="body" style="padding: 20px;
                margin: 20px;
                border: 2px solid #ffffff0d;
                border-radius: 20px;
                display:flex;
                flex-direction:column;
                gap:10px;
            ">
                
                <a href="{{url_for('main.detail', filename=i.upload.filename)}}" style="font-weight: 600; font-size:16px;">{{
                    i.upload.user.username }}/{{ i.upload.title.replace(" ", "_") }}</a>
                <cite style="font-style: normal;">{{ i.upload.description }}</cite>
                <div class="footer" style="display: flex;
                    gap: 30px; font-size: 14px;">
                    <span><i class="fa-brands fa-python"></i> Python</span>
                    <span><i class="fa-solid fa-comment"></i> {{ i.upload.comments|length }} comments</span>
                    <span><i class="fa-solid fa-star"></i> {{i.upload.likes|length}}</span>
                </div>
            </div>
        </div>
        <hr style="margin: 30px 0;">
    {% endfor %}
</section>
{% endblock content %}