{% extends "base.html" %}

{% block title %}
{{ username|capitalize }}'s Profile
{% endblock title %}

{% block style %}
    <style>
        @media screen and (min-width: 600px) {
            
            .s-header__logo{
                top: 1rem;
            }
        }

        cite {
            font-weight: 400;
            font-family: var(--font-1);
            border: none;
            display: inline-block;
            color: var(--color-text-light);
            font-size: var(--text-sm);
            line-height: var(--vspace-0_75);
            font-style: normal;
        }
    </style>
{% endblock style %}

{% block nav %}


<nav class="s-header__nav">
    <ul>
        <li><a href="{{url_for('main.starred')}}">Starred</a></li>
        <li><a href="{{url_for('main.chat')}}">Chat</a></li>
        <li><a href="{{url_for('main.developers')}}">developers</a></li>
    </ul>
</nav>

<ul class="s-header__social">
    <li>
        <a style="display: flex; align-items:center; gap:10px;font-size:14px;letter-spacing:0.05em;font-weight:600;">
            <img style="margin-bottom: 0; border-radius:50%;height:auto;width:20px;" src="{{ current_user.avatar() }}"
                alt=""><i onclick="myFunction()" class="fa-solid fa-caret-down dropbtn"></i>
        </a>
        <div id="myDropdown" class="dropdown-content">
            <a href="{{url_for('main.user', username=current_user.username)}}">Your profile</a>
            <a href="{{url_for('main.starred')}}">Your stars</a>
            <a href="{{url_for('main.projects')}}">Your projects</a>
            <a href="{{url_for('auth.logout')}}" onclick="return confirm('Are you sure you want to sign out?')"
                style="border-top: 1px solid;">Sign out</a>
        </div>
    </li>
</ul>
{% endblock nav %}

{% block content %}
<div class="content" style="margin: 100px auto; padding:0 50px;">
    <table>
        <tr valign="top" style="display: flex; align-items:center; border-bottom:0; flex-wrap:wrap; justify-content:center;">
            <td style="border-bottom:0;"><img src="{{ user.avatar() }}" style="height:138px;"></td>
            <td style="border-bottom:0;">
                <h1>Username: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>{% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                <!-- SHOWS LIST OF FOLLOWED USERS -->
                <!-- {% for f in user.followed %}
                    <p>{{ f }}</p>
                {% endfor %} -->
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
                <p><a href="{{url_for('main.delete_user', username=current_user.username)}}" onclick="return confirm('Are you sure you want to delete this account?')">Delete your profile</a></p>
                <a href="{{url_for('auth.logout')}}" onclick="return confirm('Are you sure you want to logout?')">logout</a>
                {% elif not current_user.is_following(user) %}
                <p>
                <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow', class='btn btn--primary') }}
                </form>
                </p>
                {%else%}
                <p>
                <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow', class='btn btn--primary') }}
                </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div class="table-responsive" style="max-width: 1200px;">
        {% for file in files|reverse %}
        {% if file.user.username == username %}
        {% include '_upload.html' %}
        {% endif %}
        {% endfor %}
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
    </div>
</div>
{% endblock %}